pyyaml
fastapi
uvicorn
py3langid
iso-639
openai
opencv-python
httpx[socks]
icecream
astunparse
pandas
SPARQLWrapper
matplotlib
python-pptx
bs4
transformers
sentencepiece
faiss-cpu
psycopg2-binary; platform_python_implementation == "CPython"
psycopg2; platform_python_implementation != "CPython"
pymysql
arxiv
googlemaps
steamship
IPython
google-search-results
amadeus
peft
numpy==1.24.2
PyYAML==6.0
sqlparse==0.4.3
tqdm==4.65.0
termcolor==2.3.0
scipy==1.11.1
paramiko==3.3.1
nltk==3.8.1
gensim==4.3.1
rank_bm25==0.2.2
flask_cors==3.0.10
flask==2.1.1
tiktoken
requests
jpype1==1.4.1
rapidfuzz
aiohttp
werkzeug==2.0.2
flask
jsonlines
pyheaven
install 
sentence_transformers
transformers
google-colab
pathlib